.banner {
	background-color: #575757;
	.header {
		display: flex;
		margin: 5px;
		height: 50px;
		text-align: center;
		color: white;
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		padding-left: 5%;
		span {
			padding-left: 5%;
		}
	}
}
