button:focus {
	outline: 0;
}

button.default {
	background-color: $main-color1;
	border: none;
	border-radius: 10px;
	color: $main-color5;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 5px;
	transition: all 400ms ease;

	&:hover {
		cursor: pointer;
		background-color: $main-color2;
		transition: all 400ms ease;
	}
}

.menuButton {
	background-color: $main-color1;
	border: none;
	border-radius: 50%;
	color: $main-color5;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 5px;
	transition: all 400ms ease;
	&:hover {
		cursor: pointer;
		background-color: $main-color2;
		transition: all 400ms ease;
	}
}

.edit-btn {
	display: flex;
	position: relative;
	//justify-content: center;
	//align-items: center;
	//padding: 5px;
	border-radius: 20px;
	background-color: $main-color1;
}
