@media all and(max-width: 325px) {
	.burger-btn {
		display: inline;
		top: 5px;
		right: 5px;
	}
	.menuButton {
		padding: 0;
	}
}
@media all and(max-width: 750px) {
	.main-container {
		display: flex;
		flex-direction: column;
	}
	.sidebar-container {
		height: 50px;
		min-height: 0;
		width: 100%;
		z-index: 2;
		.navbar {
			display: none;
		}
	}
	.top-bar {
		display: none;
	}
	.home {
		display: flex;
		flex-direction: column;
	}
	.about-container {
		margin-top: 30px;
	}
	.text-container {
		flex-direction: column;
		margin-left: 5%;
		margin-right: 5%;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
		margin-top: 5%;
		.long-ver {
			writing-mode: horizontal-tb;
		}
	}
	.profile-container {
		flex-direction: column;
		min-width: 100%;
		min-height: 0;
		.profile-bar {
			position: static;
			min-width: 100%;
			min-height: 0;
			.user-props {
				flex-direction: row;
				justify-content: space-evenly;
				width: 100%;
			}
		}
		.poly-footer {
			display: none;
		}
		.user-posts {
			width: 100%;
			min-width: 0;
		}
	}

	.card-container {
		//flex-direction: column;
		.edit-bar {
			//flex-direction: row;
			position: relative;
			//z-index: 3;
			transform: translateY(0);
			transform: translateX(0);
			//margin-right: 5px;
			max-width: 100%;
		}
	}
	.burger-btn {
		display: inline;
	}
}

@media all and(max-width: 770px) {
	.profile-container {
		justify-content: flex-start;
	}
	.sidebar-container {
		min-width: 250px;
	}
	.edit-btn {
		flex-direction: column;
	}
}
