@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
button:focus {
  outline: 0;
}

button.default {
  background-color: #575757;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

button.default:hover {
  cursor: pointer;
  background-color: #b1b1b1;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.menuButton {
  background-color: #575757;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.menuButton:hover {
  cursor: pointer;
  background-color: #b1b1b1;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
  position: relative;
}

#banner span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

#banner .bannerImg {
  height: 180px;
  width: 300px;
  text-align: center;
  background-color: black;
}

#banner .bannerImg img {
  position: relative;
  width: 180px;
  height: 180px;
}

#accessMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 5%;
  top: 3%;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav.sticky ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
}

.active {
  background-color: silver;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.active:hover {
  background-color: #111;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

li a:hover {
  background-color: #111;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.form .card-form {
  background-color: red;
  border-radius: 10px;
}

.form .login-header {
  margin: 0;
}

.field {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-bottom: 2px dashed #0a0a0a;
  margin: 4rem auto 1rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.field::after {
  content: '';
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #d16dff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  top: 2px;
}

.field:focus-within .label {
  -webkit-transform: scale(0.8) translateY(-2rem);
          transform: scale(0.8) translateY(-2rem);
  opacity: 1;
}

.field:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.label {
  color: #0a0a0a;
  font-size: 1.2rem;
  z-index: -1;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: black;
  font-size: 1.2em;
  -webkit-transition: border 500ms;
  transition: border 500ms;
}

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

.input:not(:placeholder-shown) ~ .label {
  -webkit-transform: scale(0.8) translateY(-2rem);
          transform: scale(0.8) translateY(-2rem);
  opacity: 1;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 30%;
  right: 30%;
}

.card {
  position: relative;
  width: 90%;
  height: auto;
  margin: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #b8b7b7;
          box-shadow: 5px 5px 10px #b8b7b7;
}

.card .post-header {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 1px;
  text-transform: capitalize;
  overflow: auto;
}

.card .thumbnail {
  width: 100%;
  height: 80px;
  margin: 0;
}

.post-body {
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  min-height: 50px;
  padding: 5px;
  margin: 10px;
}

.text {
  margin: 0;
}

.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 10px;
}

.btn-section .read-more {
  margin-right: 20px;
  border: none;
  color: dodgerblue;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.btn-section .read-more:hover {
  color: #005bb6;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
  grid-gap: 10px;
  margin: 10px;
      grid-template-areas: 'box1 long-hor1 long-hor1' 'long-hor2 long-hor2 long-ver' 'box2 box3 long-ver';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  padding: 10%;
  background: linear-gradient(135deg, black 0%, rgba(255, 255, 255, 0.778) 100%);
}

.gallery:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #462aea 0%, rgba(230, 0, 246, 0.777949) 100%);
}

.gal-header {
  opacity: 1;
  color: white;
  margin: 0;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
}

.box2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box2;
}

.box3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box3;
}

.long-hor1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: long-hor1;
}

.long-hor2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: long-hor2;
}

.long-ver {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: long-ver;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active .fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms linear 150ms;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.intro-card {
  position: relative;
  width: 400px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.intro-card:hover .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.intro-card:hover .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

.intro-card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 30%;
}

.intro-card .face.front {
  background: white;
  color: black;
}

.intro-card .face.back {
  background: #fff;
  color: #000;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.intro-card .face h2 {
  font-size: 4em;
  -webkit-transform: perspective(500px) translateZ(50px);
          transform: perspective(500px) translateZ(50px);
}

#intro-space {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(86deg, black 0%, white 100%);
}

/*.intro-bckg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(100, 100, 100, 1) 50%,
		rgba(255, 255, 255, 1) 100%
	);
}
.header {
	padding: 1em;
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(0, 0, 0, 1) 15%,
		rgba(117, 117, 117, 1) 100%
	);
	margin-bottom: 1em;
	padding-bottom: 3.5em;
	text-align: center;
	clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.intro-container {
	position: absolute;
	top: 0;
	bottom: 35%;
	left: 30%;
	right: 30%;
	//background-color: violet;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.intro {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//background-color: yellow;
	}
}
img {
	width: 300px;
	height: 300px;
}
*/
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: dodgerblue;
}

.profile .profile-img {
  position: relative;
  border-radius: 50%;
  border: 5px solid white;
  width: 80px;
  height: 80px;
  background: red;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid lightgray;
  margin-top: 100px;
}

.stats .stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  border-bottom: 1px solid #9e9c9c;
}

.stats .stats-item .item-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.post-form {
  margin-top: 10%;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -ms-overflow-style: none;
  /* IE and Edge */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.container {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 30%;
  right: 30%;
}

@media all and (max-width: 400px) {
  #banner {
    height: 100px;
  }
  #banner span {
    margin-left: 20px;
  }
  #bannerImg {
    display: none;
  }
  #accessMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home {
    left: 5%;
    right: 5%;
  }
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .long-ver {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}
/*# sourceMappingURL=styles.css.map */