@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
button:focus {
  outline: 0;
}

button.default {
  background-color: #575757;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
}

button.default:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}

button.menuButton {
  background-color: #575757;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

button.menuButton:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
}

#banner span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

#banner #bannerImg {
  height: 180px;
  width: 300px;
  text-align: center;
  background-color: black;
}

#banner #bannerImg img {
  position: relative;
  width: 180px;
  height: 180px;
}

#banner #accessMenu {
  position: absolute;
  right: 5%;
  top: 3%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
}

.active {
  background-color: silver;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.active:hover {
  background-color: #111;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

li a:hover {
  background-color: #111;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.form .login-header {
  margin: 0;
}

.field {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-bottom: 2px dashed #0a0a0a;
  margin: 4rem auto 1rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.field::after {
  content: '';
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #d16dff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  top: 2px;
}

.field:focus-within .label {
  -webkit-transform: scale(0.8) translateY(-2rem);
          transform: scale(0.8) translateY(-2rem);
  opacity: 1;
}

.field:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.label {
  color: #0a0a0a;
  font-size: 1.2rem;
  z-index: -1;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: black;
  font-size: 1.2em;
  -webkit-transition: border 500ms;
  transition: border 500ms;
}

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

.input:not(:placeholder-shown) ~ .label {
  -webkit-transform: scale(0.8) translateY(-2rem);
          transform: scale(0.8) translateY(-2rem);
  opacity: 1;
}

body,
html {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=styles.css.map */